body {
    margin: 0;
    padding: 0;
    background-color: #EAECEE;
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
}
#container {
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #666666;
    background: #FFFFFF  no-repeat;
}
#sidebar {

}
#sidebar ul {
    padding-left: 30px;
}

#reg-form {
	
}

#footer {
    clear: both;
    text-align: center;
    color: #666666;
    font-size: 0.85em;
    padding: 3em 0 0 0;
}
code {
    font-size: 1.1em;
}

.messages {
    list-style-type: none;
}

.invalid {
    color: red;
}

.warn {
    color: orange;
}

.valid {
    color: green;
}
